<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">

	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="icon" type="image/png" href="/favicon.png">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:title" content="{{ page.title }}">
	<link rel="stylesheet" href="/assets/screen.css" media="screen">
</head>
<body>
	<header>
		<h1>{{ site.title }}</h1>
	</header>
	<article>
		<h2>{{ page.title }}</h2>
		{{ content }}
	</article>
	<footer>
		<span id="footer-tag"><a href="/">&#0171; Back to {{ site.title }}</a></span>
	</footer>
</body>
</html>

